.jumbotron {
    text-align: center;
    font-family:impact;
    color:#06d;
    background-color:#999;
    padding-left:100px;
    padding-top:70px;
    padding-right:100px;
    padding-bottom:70px;
}
.container-fluid{
    background-color:#555;
    color: white;
}
html{
    background-color:#555;
}
body {
    background-color:#777;
    background-image:"images/Webite Backgroud Image.jpg";
}
.col-lg-3{
    text-align:center;
}
hr{
    background-color:#06d;
}
h4{
    font-family:impact;
    color: #06d;
}
p{
    font-family:serif;
}
.card-header{
    text-align:center;
    color:black;
    background-color:#06d;
}
.card-body{
    background-color:#555;
}
.card-footer{
    background-color:#777;
    text-align:center;
}