.jumbotron {
    text-align: center;
    font-family:impact;
    color:#06d;
    background-color:#ada9a9;
    padding-left:100px;
    padding-top:70px;
    padding-right:100px;
    padding-bottom:70px;
}
.jumbotron1 {
    text-align:center;
}
.container-fluid{
    background-color:#555;
    color: white;
}
html{
    background-color:#555;
}
body {
    background-color:#ff3b3f;
    background-image:"images/Webite Backgroud Image.jpg";
}
.col-lg-3{
    text-align:center;
}
hr{
    background-color:#efefef;
}
h4{
    font-family:impact;
    color: #66b9bf;
}
p{
    font-family:serif;
}
.card-header{
    text-align:center;
    color:black;
    background-color:#07889b;
}
.card-body{
    background-color:#ff3b3f;
}
.card-footer{
    background-color:#e37222;
    text-align:center;
}
.col-lg-4{
    text-align:center;
}